

      <main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow">Home</a>
        <span></span> My account
        <span></span> Order details
      </div>
    </div>
  </div>
  <section class="mt-70 mb-60">
    <div class="container">
      <div class="row order-wrap mx-auto">
        <div class="text-end mb-60">
          <a href="/profile/orders" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up">Back to all orders</a>
          <a href="#" onclick="invoice('<%=products?.length %>','<%=orders?.deliveryDetails[0]?.address %>','<%=orders?._id %>')" class="btn ms-2">Download invoice</a>
        </div>

      </div>
      <div class="row order-wrap mx-auto">
        <div class="col-4 pe-3">
          <h4 class="mb-35 text-brand">Delivery Address</h4>
          <div class="table-responsive">
            <table class="table shopping-summery">
              <tbody>
                
                <tr>
                  <!-- TODO exeption if no category is found -->

                  <td>Address: </td>
                  <td><b><%=orders?.deliveryDetails[0]?.address %>  </b></td>
                </tr>
               

              </tbody>
            </table>
          </div>
        </div>

       
      </div>
    </div>
  </section>

  <section class="mt-50 mb-70">
    <div class="container">
      <div class="row order-wrap mx-auto">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table shopping-summery text-center">
              <thead>
                <tr class="main-heading">
                  <th scope="col">Image</th>
                  <th scope="col">Product</th>
                  <th scope="col">Unit price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <!-- <th scope="col">Order Status</th>
                  <th scope="col">Payment Status</th> -->
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>



             


                <% let i=0 %> 
                <% products?.forEach(element=>{ %>
                <tr class="63688c9f9664c015d6575bf0-tr">
                  <td class="image product-thumbnail">
                        <img src="/productImages/<%=element?.Products?._id %>0.jpg"  alt="#">
                    </a>
                  </td>
                

                  <td class="product-name"><a href="#"
                    id="pName<%=i %>" ><%=element?.Products?.name %></a></td>

                 *

                  <td class="product-price-cart"><span
                    class="amount"
                    id="pPrice<%=i %>"> <%=element?.Products?.price %></span></td>

                

                  <td class="product-quantity"><a href="#"
                    id="pQ<%=i %>"><%=element?.quantity %></a></td>


                  <td class="price" data-title="Price"><span>₹ <%=element?.Products?.price*element?.quantity %></span></td>
                    <td><%=element?.status %>   
                  <td class="button-td">
                    <% if(element?.status=="Delivered" && element?.status!="return"){ %> 
                      <!-- <h5><b style="color:red ;">Return</b></h5> -->
                      <a   onclick="ret(' <%= element?._id %>','<%= element?.Products?._id%>','<%= element?.quantity%>')" style="color: red;">Return</a>
                      <% } %>
                      <% if(element?.status=="return"){ %> 
                        <!-- <h5><b style="color:red ;">Return</b></h5> -->
                        <a  style="color: red;">waiting for refund</a>
                        <% } %>

                    <% if(element?.status!="Cancelled" && element?.status!="Delivered" && element?.status!="return" && element?.status!="refunded"){ %> 
                    <a   onclick="del(' <%= element?._id %>','<%= element?.Products?._id%>','<%= element?.quantity%>')" class="btn btn-sm btn-secondary"> <i class="fi-rs-shopping-bag mr-5"></i>Cancel order</a>
                    <% } %> 
                    <% if(orders?.paymentMethod!="Cash on Delivery" && element?.status=="Cancelled" && element?.status!="return"){ %> 
                      <a   onclick="ret(' <%= element?._id %>','<%= element?.Products?._id%>','<%= element?.quantity%>')" style="color: red;">Return</a
                      <% } %> 

                  
                  </td>
                </tr>
                <% i++}) %>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<script>
  function del(orderId,proId,quantity) {
    $.ajax({
      url: "/delete-order-product",
      data: {
        orderId,
        proId,
        quantity,
      },
      method: "post",
      success: (response) => {
        location.reload()
      },
    });
  }


  function ret(orderId,proId,quantity){
console.log(orderId,proId,quantity);
$.ajax({
      url: "/return-product",
      data: {
        orderId,
        proId,
        quantity
      },
      method: "post",
      success: (response) => {
        console.log(response,'44444');
        location.reload()
      },
    });
  }



  function invoice(length,address,orderNo) {
            var date = new Date().toDateString().slice(3)
           console.log(length)
            console.log(address)
              console.log(orderNo)
            var productArray = []
            for (var i = 0; i < length; i++) {

              
                var productName = document.getElementById("pName"+i).innerText;
                 console.log(productName)
                var productPrice = document.getElementById("pPrice"+i).innerText;
                console.log(productPrice)
                var productQuantity = document.getElementById("pQ"+i).innerText;
                console.log(productQuantity)

                var product = {
                    "quantity": productQuantity,
                    "description": productName,
                    "tax-rate": 6,
                    "price": productPrice
                }
                productArray.push(product)

            }
            console.log(productArray)

            var data = {

                "customize": {

                },
                "images": {

                    "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png",
                },

                "sender": {
                    "company": "Evara inc.",
                    "address": "Sample Street 123",
                    "zip": "682004",
                    "city": "Ernakulam",
                    "country": "India"

                },

                "client": {
                    "company": "",
                    "address": address,
                    // "zip": "",
                    // "city": "",
                    "country": "India"

                },
                "information": {
                    // Invoice number
                    "number": orderNo,
                    // Invoice data
                    "date": date,
                    "due-date": "NA"
                },

                "products": productArray,


                "bottom-notice": "Thank You for choosing our store",

                "settings": {
                    "currency": "INR",

                },

                "translate": {

                },
            };


            easyinvoice.createInvoice(data, function (result) {

                easyinvoice.download("invoice2.pdf")
            });

        }
</script>

