

  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        
        <div class="col-12">
          <div class="table-responsive">
            <table class="table shopping-summery text-center">
              <thead>
                <tr class="main-heading">
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Price</th>
                  <!-- <th scope="col">Stock Status</th> -->
                  <th scope="col">Action</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                
                <% pro?.forEach(element=>{ %>
                <tr id="63688cd09664c015d6575bf1-tr">
                  <td class="image product-thumbnail">
                    <a href="product/<%=element?._id %>">
                      <img  src="/productImages/<%=element?._id %>0.jpg" alt="Unisex Black Phase Laptop Backpack">
                    </a>
                  </td>
                  <td class="product-des product-name">
                    <h5 class="product-name"><a href="product/<%=element?._id %>">
                      <%=element?.name %> 
                    </a></h5><a href="/product/unisex-black-phase-laptop-backpack">
                  </a></td>
                  <td class="price" data-title="Price"><span><%=element?.price %> </span></td>
                  <!-- <td class="text-center" data-title="Stock">
                    
                    <span class="color3 font-weight-bold">In Stock</span>
                    
                  </td> -->
                  <td class="text-right" data-title="Cart">
                    
                    <!-- <button onclick="addtocartFromWishlist('637f6daf5dafaf94d4848f6f','63688cd09664c015d6575bf1')" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</button> -->
                    <a href="product/<%=element?._id %> " class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>
                    
                  </td>
                  <td class="action" data-title="Remove">
                    <a class="" onclick="removeProductFromWishlist('<%=element?._id %>')">
                      <i class="fi-rs-trash"></i>
                    </a>
                  </td>
                </tr>
                <% }) %>

              </tbody>
            </table>
          </div>
          <div class="cart-action text-center mt-4">
            <!-- <a href="/checkout" class="btn me-2"><i class="fi-rs-shopping-bag mr-10"></i>Go to cart</a> -->
            <a href="/" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
          </div>
        </div>
        
      </div>
    </div>
  </section>


  <script>
      function removeProductFromWishlist(proId){
    $.ajax({
      url: "/removeFrom-Wish/" + proId,
      method: "get",
      success: (response) => {
        console.log(response,'222');
        location.reload();
      }
    })
  }
  </script>

